nav {
    background-color: #333;
    padding: 10px;
    color: beige;
    // font-size: x-large;
    display: flex;
    justify-content: space-between;
}

.title {
    margin: 0px;
    align-content: center;
}

.toggle-button {
    color: white;
    align-content: center;
}